{% extends 'base.html' %}

{% block center %}
<div class="site">
    <h1>Bem-vindo ao nosso site!</h1>
    <hr>
    <p id="psite">A <strong>“ESKING”</strong> foi fundado em 2019 na cidae de Doutor Severiano.
          Essa iniciativa  tem como objetivo expandir a venda dos nossos produtos, que 
          vão desde camisas nacionais as internacionais. Portanto, esse e-commerce anseia expandir a vendas dos seus produtos, 
           consequentemente, aumentar a busca na melhor qualidade.</P>

</div>

{% endblock %}
